<h1>Showing the article</h1>

<p>
  Titulo: <%= @article.title %>
</p>
<p>
  Descrição: <%= @article.description %>
</p>

<%= link_to 'Edit article', edit_article_path %>
<%= link_to "Back to listing", articles_path %>