<div style="background-color:lightblue">
<%= image_tag 'background-header-png-4.png', :style => "width: 100%" %>
<div style="padding: 10px">
<h1>A simple blog</h1>
<%= link_to 'Home', root_path %>
</div>
</div>
<div>
<p>Essa página foi criada Fábio Urquiza</p>
</div>
