<!--div style="background-color:lightblue">
<%= image_tag 'background-header-png-4.png', :style => "width: 100%" %>
<div style="padding: 10px">
<h1>A simple blog</h1>
<%= link_to 'Apha Blog', articles_path %> | 
<%= link_to 'About', about_path %>
</div>
</div>
<div-->
<div class="center jumbotron">
  <h1>Alpha blog</h1>
  <p>Essa página foi criada para testar coisas no projeto de Ruby on Rails.</p>
  <p><%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg" %></p>
</div>
<!--/div-->
