<div style="background-color:lightblue">
<%= image_tag 'background-header-png-4.png', :style => "width: 100%" %>
<div style="padding: 10px">
<h1>A simple blog</h1>
<%= link_to 'About', about_path %>
</div>
</div>
<div>
<p>Essa página foi criada para testar coisas no projeto de Ruby on Rails.</p>
<ul>
  <li>Primeiro item</li>
  <li>Segundo item</li>
  <li>Terceira item</li>
  <li>Quarta item</li>
</ul>
</div>
